@import "tailwindcss";

body{
  font-family: Arial, Helvetica, sans-serif;
}
a{
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-weight: bold;
}

a:hover{
  color: black;
}

button {
  padding: 0.5rem 1rem;
  background-color: #2563eb; /* azul */
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}

button:hover {
  background-color: #1d4ed8; /* azul un poco más oscuro */
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}